* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  display: flex;
  gap: 40px;
}

.price-del {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-title,
.add-cart,
.details-title {
  text-transform: uppercase;
}

/* Product */

.product {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  font-size: 18px;
  text-align: center;
  background-color: #f7f7f7;
  padding: 15px;
}

.product-title::before {
  content: "SALE";
  background-color: rgb(230, 36, 36);
  color: white;
  letter-spacing: 2px;
  padding: 8px 12px;
  font-size: 12px;
  position: absolute;
  top: -20px;
  left: -32px;
}

/* Product Information */

.product-info {
  flex: 0 0 250px;
  margin-top: 20px;
}

.price {
  font-size: 24px;
}

.devlivery-type {
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  /* margin-bottom: 20px; */
}

/* .description {
  margin-bottom: 10px;
} */

.more-info:link,
.more-info:visited {
  color: black;
  display: inline-block;
  margin-top: 10px;
}

.more-info:hover,
.more-info:after {
  text-decoration: none;
}

/* Color Options */

.color-options {
  display: flex;
  gap: 15px;
  list-style: none;
  margin-top: 30px;
}

.color-options li {
  /* display: inline-block; */
  height: 20px;
  width: 20px;
  /* margin-right: 10px; */
}

.color-options li:last-child {
  margin-right: 0;
}

/* .color-op1,
.color-op2,
.color-op3,
.color-op4,
.color-op5,
.color-op6 {
  height: 20px;
  width: 20px;
} */

.color-op1 {
  background-color: black;
}
.color-op2 {
  background-color: blue;
}
.color-op3 {
  background-color: red;
}
.color-op4 {
  background-color: orange;
}
.color-op5 {
  background-color: green;
}
.color-op6 {
  background-color: brown;
}

/* Product details */

.product-details {
  flex: 0 1 auto;
  /* padding-right: 20px; */
  margin-top: 20px;
}

.details-title {
  font-size: 16px;
  /* margin-top: 30px; */
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* Button */

.add-cart {
  background-color: black;
  color: #f7f7f7;
  border: none;
  border-top: 4px solid black;
  font-size: 20px;
  cursor: pointer;
  /* margin-top: 20px; */
  width: 100%;
  padding: 15px;
}

.add-cart:hover {
  background-color: #f7f7f7;
  color: black;
}
